@{
    ViewData["Title"] = " Motorcycle Shop ";
}
<div class="text-center">
    <h1>Motorcrycle Shop</h1>
</div>
<div class="text-center">
    <img src="https://wallpaperaccess.com/full/5387109.jpg" width="100%" height="700" />
</div>
<p>
    <div>
        <marquee id="marq" scrollamount="10" direction="right" loop="50" scrolldelay="100">

            <a href="Link"><img src="https://s3.cloud.cmctelecom.vn/tinhte1/2014/10/2615373_2014-Kawasaki-Ninja-H2R-Front-Official-Image.jpg" title="Ghi chú cho ảnh" width="200" height="200" /> </a>

            <a href="Link"><img src="https://www.bellissimoto.com/image/catalog/Rizoma/1%20Stealth%20Mirrors/SUZUKI_fantasma.jpg" title="Ghi chú cho ảnh" width="200" height="200" /> </a>

            <a href="Link"><img src="https://motosaigon.vn/wp-content/uploads/2021/02/suzuki-hayabusa-2021-gia-xe-photo-review-motosaigon-24.jpg" title="Ghi chú cho ảnh" width="200" height="200" /> </a>

            <a href="Link"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Honda_CBR1000RR_Fireblade_SP1_-_Indonesia_International_Motor_Show_2018_-_April_26_2018.jpg/2259px-Honda_CBR1000RR_Fireblade_SP1_-_Indonesia_International_Motor_Show_2018_-_April_26_2018.jpg " title="Ghi chú cho ảnh" width="200" height="200" /> </a>

            <a href="Link"><img src="https://img.websosanh.vn/v2/users/review/images/agawde4bk0eau.jpg?compress=85  " title="Ghi chú cho ảnh" width="200" height="200" /> </a>

            <a href="Link"><img src="https://pictures.topspeed.com/IMG/crop/201909/2020-yamaha-yzf-r1m-40_800x0w.jpg  " title="Ghi chú cho ảnh" width="200" height="200" /> </a>

            <a href="Link"><img src="https://cdn.motor1.com/images/mgl/0e4JrV/s1/1x1/2022-yamaha-mt-10-sp---main.webp  " title="Ghi chú cho ảnh" width="200" height="200" /> </a>

            <a href="Link"><img src="https://s1storage.2banh.vn/image/2020/05/ducati-panigale-899-hien-dien-day-me-hoac-voi-phong-cach-moi-7121-1589852450-5ec3392291133.jpg  " title="Ghi chú cho ảnh" width="200" height="200" /> </a>

            <a href="Link"><img src=https://cdn-img.thethao247.vn/upload/thanh96/2020/06/01/ducati-1299-panigale-r-final-edition-1.jpg " title="Ghi chú cho ảnh" width="200" height="200" /> </a>


        </marquee>
    </div>
</p>
